/** Universal CSS **/

:root {
    /** Variables **/

    /** Color **/
    --bg-overlay: rgba(29, 29, 29, 0.4);
    --bg-logo-title-color: white;
    --alert-red: rgb(255, 69, 69);
    --emerald-green: rgb(4, 121, 4);
    --alert-red-lighter: rgb(255, 69, 69, 0.3);
    --emerald-green-lighter: rgb(4, 121, 4, 0.3);

    /** Dimension **/
    --standard-elements-gap: 8px;
    --bg-mobile-height: 15vh;
    --bg-desktop-height: 100vh;

    /** Spacer **/  
    --standard-section-mobile-padding: 1.6rem;
    --standard-section-mobile-margin: 0 0 1.4rem 0;
    --standard-section-desktop-margin: 2rem auto; 
    --standard-section-desktop-padding: 3rem;
    --standard-border-radius: 8px;
    --standard-input-text-padding: 0.8rem;

    /** Shadow **/
    --shadow-depth-simulation: inset 0 0 6px rgb(110, 110, 110);

    /** Font Size **/
    --standard-font-size: clamp(1.6rem, calc(0.4vw + 1.3rem), 2.0rem); 
    --heading-font-size: clamp(2.1rem, calc(1.5vw + 1.6rem), 3.0rem);
    --bg-title-size: clamp(3rem, calc(3.5vw + 2.5rem), 7rem);
    --social-img-button-size: clamp(3rem, calc(3.5vw + 2.5rem), 7rem);

    --standard-font-weight: normal;
    --heading-font-weight: bold;
    --bg-title-font-weight: bolder;
}

:root.light {
    --logo-title-color: black;

    --text: rgb(26, 22, 20);
    --background: rgb(245, 242, 240);
    --primary: rgb(92, 70, 55);
    --secondary: rgb(201, 172, 151);
    --accent: rgb(158, 106, 71);

    --text-50: rgb(244, 242, 241);
    --text-100: rgb(233, 228, 226);
    --text-200: rgb(211, 202, 197);
    --text-300: rgb(188, 175, 169);
    --text-400: rgb(166, 149, 140);
    --text-500: rgb(144, 122, 111);
    --text-600: rgb(115, 98, 89);
    --text-700: rgb(86, 73, 67);
    --text-800: rgb(58, 49, 44);
    --text-900: rgb(29, 24, 22);
    --text-950: rgb(14, 12, 11);

    --background-50: rgb(245, 242, 240);
    --background-100: rgb(235, 228, 224);
    --background-200: rgb(214, 202, 194);
    --background-300: rgb(194, 175, 163);
    --background-400: rgb(173, 149, 133);
    --background-500: rgb(153, 122, 102);
    --background-600: rgb(122, 98, 82);
    --background-700: rgb(92, 73, 61);
    --background-800: rgb(61, 49, 41);
    --background-900: rgb(31, 24, 20);
    --background-950: rgb(15, 12, 10);

    --primary-50: rgb(245, 242, 239);
    --primary-100: rgb(236, 228, 223);
    --primary-200: rgb(217, 201, 191);
    --primary-300: rgb(198, 175, 159);
    --primary-400: rgb(179, 148, 128);
    --primary-500: rgb(159, 121, 96);
    --primary-600: rgb(128, 97, 77);
    --primary-700: rgb(96, 73, 57);
    --primary-800: rgb(64, 48, 38);
    --primary-900: rgb(32, 24, 19);
    --primary-950: rgb(16, 12, 10);

    --secondary-50: rgb(246, 242, 238);
    --secondary-100: rgb(238, 228, 221);
    --secondary-200: rgb(220, 201, 188);
    --secondary-300: rgb(203, 174, 154);
    --secondary-400: rgb(186, 148, 120);
    --secondary-500: rgb(168, 121, 87);
    --secondary-600: rgb(135, 97, 69);
    --secondary-700: rgb(101, 72, 52);
    --secondary-800: rgb(67, 48, 35);
    --secondary-900: rgb(34, 24, 17);
    --secondary-950: rgb(17, 12, 9);

    --accent-50: rgb(247, 241, 237);
    --accent-100: rgb(239, 228, 220);
    --accent-200: rgb(223, 200, 185);
    --accent-300: rgb(208, 173, 149);
    --accent-400: rgb(192, 145, 114);
    --accent-500: rgb(176, 118, 79);
    --accent-600: rgb(141, 94, 63);
    --accent-700: rgb(106, 71, 47);
    --accent-800: rgb(70, 47, 32);
    --accent-900: rgb(35, 24, 16);
    --accent-950: rgb(18, 12, 8);

    --linearPrimarySecondary: linear-gradient(120deg, rgb(92, 70, 55), rgb(201, 172, 151));
    --linearPrimaryAccent: linear-gradient(120deg, rgb(92, 70, 55), rgb(158, 106, 71));
    --linearSecondaryAccent: linear-gradient(120deg, rgb(201, 172, 151), rgb(158, 106, 71));
    --radialPrimarySecondary: radial-gradient(rgb(92, 70, 55), rgb(201, 172, 151));
    --radialPrimaryAccent: radial-gradient(rgb(92, 70, 55), rgb(158, 106, 71));
    --radialSecondaryAccent: radial-gradient(rgb(201, 172, 151), rgb(158, 106, 71));
}

:root.dark {
    --logo-title-color: white;

    --text: rgb(235, 231, 229);
    --background: rgb(15, 12, 10);
    --primary: rgb(200, 177, 163);
    --secondary: rgb(104, 75, 54);
    --accent: rgb(184, 132, 97);

    --text-50: rgb(14, 12, 11);
    --text-100: rgb(29, 24, 22);
    --text-200: rgb(58, 49, 44);
    --text-300: rgb(86, 73, 67);
    --text-400: rgb(115, 98, 89);
    --text-500: rgb(144, 122, 111);
    --text-600: rgb(166, 149, 140);
    --text-700: rgb(188, 175, 169);
    --text-800: rgb(211, 202, 197);
    --text-900: rgb(233, 228, 226);
    --text-950: rgb(244, 242, 241);

    --background-50: rgb(15, 12, 10);
    --background-100: rgb(31, 24, 20);
    --background-200: rgb(61, 49, 41);
    --background-300: rgb(92, 73, 61);
    --background-400: rgb(122, 98, 82);
    --background-500: rgb(153, 122, 102);
    --background-600: rgb(173, 149, 133);
    --background-700: rgb(194, 175, 163);
    --background-800: rgb(214, 202, 194);
    --background-900: rgb(235, 228, 224);
    --background-950: rgb(245, 242, 240);

    --primary-50: rgb(16, 12, 10);
    --primary-100: rgb(32, 24, 19);
    --primary-200: rgb(64, 48, 38);
    --primary-300: rgb(96, 72, 57);
    --primary-400: rgb(128, 96, 77);
    --primary-500: rgb(159, 120, 96);
    --primary-600: rgb(179, 147, 128);
    --primary-700: rgb(198, 174, 159);
    --primary-800: rgb(217, 201, 191);
    --primary-900: rgb(236, 228, 223);
    --primary-950: rgb(245, 242, 239);

    --secondary-50: rgb(17, 12, 9);
    --secondary-100: rgb(34, 24, 17);
    --secondary-200: rgb(67, 48, 35);
    --secondary-300: rgb(101, 72, 52);
    --secondary-400: rgb(135, 97, 69);
    --secondary-500: rgb(168, 121, 87);
    --secondary-600: rgb(186, 148, 120);
    --secondary-700: rgb(203, 174, 154);
    --secondary-800: rgb(220, 201, 188);
    --secondary-900: rgb(238, 228, 221);
    --secondary-950: rgb(246, 242, 238);

    --accent-50: rgb(18, 12, 8);
    --accent-100: rgb(35, 24, 16);
    --accent-200: rgb(70, 47, 32);
    --accent-300: rgb(106, 71, 47);
    --accent-400: rgb(141, 94, 63);
    --accent-500: rgb(176, 118, 79);
    --accent-600: rgb(192, 145, 114);
    --accent-700: rgb(208, 173, 149);
    --accent-800: rgb(223, 200, 185);
    --accent-900: rgb(239, 228, 220);
    --accent-950: rgb(247, 241, 237);

    --linearPrimarySecondary: linear-gradient(rgb(200, 177, 163), rgb(104, 75, 54));
    --linearPrimaryAccent: linear-gradient(rgb(200, 177, 163), rgb(184, 132, 97));
    --linearSecondaryAccent: linear-gradient(rgb(104, 75, 54), rgb(184, 132, 97));
    --radialPrimarySecondary: radial-gradient(rgb(200, 177, 163), rgb(104, 75, 54));
    --radialPrimaryAccent: radial-gradient(rgb(200, 177, 163), rgb(184, 132, 97));
    --radialSecondaryAccent: radial-gradient(rgb(104, 75, 54), rgb(184, 132, 97));
}